{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="page-inner">
      <div class="page-header">
        <h3 class="fw-bold mb-3">Daftar Data Preprocessing</h3>
        <ul class="breadcrumbs mb-3">
          <li class="nav-home">
            <a href="{% url 'sentimen:dashboard' %}">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-arrow-right"></i>
          </li>
          <li class="nav-item">
            <a href="{% url 'sentimen:preprocessing' %}">Preprocessing</a>
          </li>
        </ul>
      </div>
      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between w-100">
                <h4 class="card-title">Tabel Daftar Data Pengujian</h4>
                <div class="d-flex">
                    <a class="btn btn-primary btn-round ms-auto" href="#"><i class="fa fa-table"></i> Jalankan Preprocessing Data Baru</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Text & Aspek</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">
                        1
                        <button class="btn btn-primary btn-sm toggle-btn">
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                      <td>Dukungan dari RRI sebagai pelaksana Bintang Radio Indonesia memberikan landasan yang kuat bagi Josh untuk terus mengembangkan bakatnya dan memberikan kontribusi positif dalam dunia musik Indonesia
                        <br>
                        <span style="color: blue;"> Layanan</span> :
                        <b>Netral</b> 
                        <br>
                        <span style="color: green;">Program</span> : 
                        <b>Positif</b>
                        <br>
                        <span style="color: red;">Sarana & Prasarana</span> : 
                        <b>Positif</b>
                        <br>
                        <span style="color: black;">Teknis</span> : 
                        <b>Netral</b> 
                      </td>
                      <tr class="preprocessing-info" style="display: none;">
                        <td></td>
                        <td colspan="3">
                          <b>Preprocessing ? :</b> Sudah<br>
                          <b>Hasil :</b> <br>
                          [&quot;dukung&quot;,&quot;rri&quot;,&quot;laksana&quot;,&quot;bintang&quot;,&quot;radio&quot;,&quot;indonesia&quot;,&quot;landas&quot;,&quot;kuat&quot;,&quot;josh&quot;,&quot;kembang&quot;,&quot;bakat&quot;,&quot;kontribusi&quot;,&quot;positif&quot;,&quot;dunia&quot;,&quot;musik&quot;,&quot;indonesiaa&quot;]
                        </td>
                      </tr>
                    </tr>
                    <tr>
                      <td>
                        2
                      </td>
                      <td>
                        RRI tidak hanya mencari penyanyi berbakat, tetapi juga memberikan kesempatan untuk berkembang dan membangun karier di industri musik. #DanTerjadiLagiJosh

                        Label Sentimen : <b>positif</b>
                        Label Aspek : <b>["layanan","sarana_prasarana"] </b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
<!-- <script>
    $(document).ready(function () {
      $("#add-row").DataTable({
        pageLength: 5,
      });

      $(document).on('click', '.toggle-btn', function(){
      var button = ($this);
      var row = button.closest("tr").next(".preprocessing-info");

      row.toggle();

      if (row.is(":visible")) {
        button.html('<i class="fa fa-minus"></i>');       
      } else {
        button.html('<i class="fa fa-plus"></i>');  
      }
      });
    });

    
</script> -->
<script>
  $(document).ready(function () {
    $("#add-row").DataTable({
      pageLength: 5,
    });
  });
</script>
<script>
   $(document).on('click', '.toggle-btn', function() {
      var button = $(this);
      var row = button.closest("tr").next(".preprocessing-info");
      
      row.toggle();

      if (row.is(":visible")) {
          button.html('<i class="fa fa-minus"></i>');
      } else {
          button.html('<i class="fa fa-plus"></i>');
      }
    });
</script>
{% endblock scripts %}
    