{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="page-inner">
      <div class="page-header">
        <h3 class="fw-bold mb-3">Daftar Data Preprocessing</h3>
        <ul class="breadcrumbs mb-3">
          <li class="nav-home">
            <a href="{% url 'sentimen:dashboard' %}">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-arrow-right"></i>
          </li>
          <li class="nav-item">
            <a href="{% url 'sentimen:preprocessing' %}">Preprocessing</a>
          </li>
        </ul>
      </div>
      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between w-100">
                <h4 class="card-title">Data Preprocessing <span style="color:orange">{{ preproses }}</span>
                  <br><p>Total Data <b> <span style="color: orange;">{{ total }}</span></b></p>
                </h4>
              

                <div class="form-group">
                  <label class="form-label">Pilih Preprocessing</label>
                  <form method="post" action="{% url 'sentimen:preprocessing' %}">
                    {% csrf_token %}
                    <div class="selectgroup selectgroup-pills">
                      <label class="selectgroup-item">
                        <input
                          type="radio"
                          name="value"
                          value="1"
                          class="selectgroup-input"
                          
                          {% if selected_value == '1' %}
                            checked
                          {% endif %}
                        />
                        <span class="selectgroup-button">Stemming</span>
                      </label>
                      <label class="selectgroup-item">
                        <input
                          type="radio"
                          name="value"
                          value="2"
                          class="selectgroup-input"
                          {% if selected_value == '2' %}
                            checked
                          {% endif %}
                        />
                        <span class="selectgroup-button">Stopword</span>
                      </label>
                      <label class="selectgroup-item">
                        <input
                          type="radio"
                          name="value"
                          value="3"
                          class="selectgroup-input"
                          {% if selected_value == '3' %}
                            checked
                          {% endif %}
                        />
                        <span class="selectgroup-button">Steaming & Stopword</span>
                      </label>
                      <div class="d-flex">
                        <button class="btn btn-primary btn-round ms-auto"  type="submit"><i class="fa fa-table"></i> Preprocecing</button>
                      </div>
                    </div>
                  </form>
                </div>


              </div>
            </div>
            <div class="card-body">

              <div class="table-responsive">
                <table
                  id="preprocessing-table"
                  class="display table table-striped table-hover"
                >
                  <thead>
                    <tr>
                      <!-- <th>ID</th>
                      <th>Text & Aspek</th><th>Layanan</th>
                      <th>Program</th>
                      <th>Sarana & Prasarana</th>
                      <th>Teknis</th>
                      <th>Sentimen</th> -->
                      
                      {% for column in header  %}
                        <th>{{ column }}</th>
                      {% endfor %}
                        
                    </tr>
                  </thead>
                  <tbody>
                    
                    {% for row in dataset  %}
                      <tr>
                        
                        {% for cell in row  %}
                          <td>{{ cell }}</td>
                        {% endfor %}
                          
                      </tr>
                    {% endfor %}
<!--                       
                    <tr>
                        <td>
                            1
                            <button class="btn btn-primary btn-sm toggle-btn">
                                <i class="fa fa-plus"></i>
                            </button>
                        </td>
                        <td>Dukungan dari RRI sebagai pelaksana Bintang Radio Indonesia memberikan landasan yang kuat bagi Josh untuk terus mengembangkan bakatnya dan memberikan kontribusi positif dalam dunia musik Indonesia
                            <br>
                            <span style="color: blue;"> Layanan</span> :
                            <b>Netral</b> 
                            <br>
                            <span style="color: green;">Program</span> : 
                            <b>Positif</b>
                            <br>
                            <span style="color: red;">Sarana & Prasarana</span> : 
                            <b>Positif</b>
                            <br>
                            <span style="color: black;">Teknis</span> : 
                            <b>Netral</b> 
                        </td>
                        <tr class="preprocessing-info" style="display: none;">
                          <td>1</td>
                            <td colspan="3">
                                <b>Preprocessing ? :</b> Sudah<br>
                                <b>Hasil :</b> <br>
                                [&quot;dukung&quot;,&quot;rri&quot;,&quot;laksana&quot;,&quot;bintang&quot;,&quot;radio&quot;,&quot;indonesia&quot;,&quot;landas&quot;,&quot;kuat&quot;,&quot;josh&quot;,&quot;kembang&quot;,&quot;bakat&quot;,&quot;kontribusi&quot;,&quot;positif&quot;,&quot;dunia&quot;,&quot;musik&quot;,&quot;indonesiaa&quot;]
                            </td>
                        </tr>
                    </tr> -->
                    <!-- <tr>
                      <td>
                          2
                          <button class="btn btn-primary btn-sm toggle-btn">
                              <i class="fa fa-plus"></i>
                          </button>
                      </td>
                      <td>Dukungan dari RRI sebagai pelaksana Bintang Radio Indonesia memberikan landasan yang kuat bagi Josh untuk terus mengembangkan bakatnya dan memberikan kontribusi positif dalam dunia musik Indonesia
                          <br>
                          <span style="color: blue;"> Layanan</span> :
                          <b>Netral</b> 
                          <br>
                          <span style="color: green;">Program</span> : 
                          <b>Positif</b>
                          <br>
                          <span style="color: red;">Sarana & Prasarana</span> : 
                          <b>Positif</b>
                          <br>
                          <span style="color: black;">Teknis</span> : 
                          <b>Netral</b> 
                      </td>
                      <tr class="preprocessing-info" style="display: none;">
                        <td>2</td>
                          <td colspan="3">
                              <b>Preprocessing ? :</b> Sudah<br>
                              <b>Hasil :</b> <br>
                              [&quot;dukung&quot;,&quot;rri&quot;,&quot;laksana&quot;,&quot;bintang&quot;,&quot;radio&quot;,&quot;indonesia&quot;,&quot;landas&quot;,&quot;kuat&quot;,&quot;josh&quot;,&quot;kembang&quot;,&quot;bakat&quot;,&quot;kontribusi&quot;,&quot;positif&quot;,&quot;dunia&quot;,&quot;musik&quot;,&quot;indonesiaa&quot;]
                          </td>
                      </tr>
                    </tr>
                    <tr>
                      <td>
                          12
                          <button class="btn btn-primary btn-sm toggle-btn">
                              <i class="fa fa-plus"></i>
                          </button>
                      </td>
                      <td>Dukungan dari RRI sebagai pelaksana Bintang Radio Indonesia memberikan landasan yang kuat bagi Josh untuk terus mengembangkan bakatnya dan memberikan kontribusi positif dalam dunia musik Indonesia
                          <br>
                          <span style="color: blue;"> Layanan</span> :
                          <b>Netral</b> 
                          <br>
                          <span style="color: green;">Program</span> : 
                          <b>Positif</b>
                          <br>
                          <span style="color: red;">Sarana & Prasarana</span> : 
                          <b>Positif</b>
                          <br>
                          <span style="color: black;">Teknis</span> : 
                          <b>Netral</b> 
                      </td>
                      <tr class="preprocessing-info" style="display: none;">
                        <td>12</td>
                          <td colspan="3">
                              <b>Preprocessing ? :</b> Sudah<br>
                              <b>Hasil :</b> <br>
                              [&quot;dukung&quot;,&quot;rri&quot;,&quot;laksana&quot;,&quot;bintang&quot;,&quot;radio&quot;,&quot;indonesia&quot;,&quot;landas&quot;,&quot;kuat&quot;,&quot;josh&quot;,&quot;kembang&quot;,&quot;bakat&quot;,&quot;kontribusi&quot;,&quot;positif&quot;,&quot;dunia&quot;,&quot;musik&quot;,&quot;indonesiaa&quot;]
                          </td>
                      </tr>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function () {
      // $("#b").DataTable({});

      // Add Row
      $("#preprocessing-table").DataTable({
        pageLength: 5,
      });

    });
  </script>
   <script>
    $(document).ready(function(){
        $(".toggle-btn").click(function(){
            var button = $(this);
            var row = button.closest("tr").next(".preprocessing-info");
            
            row.toggle();

            if (row.is(":visible")) {
                button.html('<i class="fa fa-minus"></i>');
            } else {
                button.html('<i class="fa fa-plus"></i>');
            }
        });
    });

   </script>

<!-- <script>
  $(document).ready(function () {
    $("#basic-datatables").DataTable({});

    $("#add-row").DataTable({
      pageLength: 5,
    });

    var action =
      '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

    $("#addRowButton").click(function () {
      $("#add-row")
        .dataTable()
        .fnAddData([
          $("#addName").val(),
          $("#addPosition").val(),
          $("#addOffice").val(),
          action,
        ]);
      $("#addRowModal").modal("hide");
    });
  });
</script> -->
{% endblock scripts %}
    
    

        

       
    
